<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body">
                  <h4 class="card-title">details of categories</h4>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            CATEGORY NAME
                          </th>
                          <th>
                    DESCRIPTION
                          </th>

                          <th>
                            CATEGORY IMAGES
                          </th>

                        </tr>
                      </thead>
                      <tbody>
                      {%  for i in data %}
                        <tr>
                          <td class="py-1">{{i.category_name}}</td>
                          <td>{{i.description}}</td>
                            <td><img src="{{i.category_img.url}}" width="200px" height="200px"</td>
                            <td><a href="{% url 'editcategory' catid=i.id %}"><button type="button" class="btn btn-info">edit</button></a></td>
                            <td><a href="{% url 'deletecategory' catid=i.id %}"><button type="button" class="btn btn-info">delete</button></a></td>
                        </tr>
{% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
<script>
    swal('{{i}}','','warning')
</script>
{% elif i.tags == 'error' %}
<script>
        swal('{{i}}','','error')
</script>
{% elif i.tags == 'info' %}
<script>
        swal('{{i}}','','info')
</script>
{% else %}
<script>
        swal('{{i}}','','success')
</script>
{% endif %}
{% endfor %}
{% endif %}
</body>
</html>
{% endblock %}